#cuadrado{
    width: 200px;
    height: 200px ;
    background-color: aqua;
    animation-name: miAnimacion;
    animation-duration: 4s;
    animation-delay: 2s;
    position: relative;
}

@keyframes miAnimacion{
    0% {background: aqua; left: 0; top: 0px;}
    25%{background: purple; left: 300px; top: 0px;}
    50% {background: black; left: 300px; top: 300px;}
    75%{background: lightcoral; left: 0px; top: 300px;}
    100% {background: green; left: 0px; top: 0px; }
}
